<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <title th:text="#{admin.addGoods.page.title}"></title>
    <link th:href="@{/css/admin/common.css}" type="text/css" rel="stylesheet">
</head>
<body>
<form th:action="@{/admin/adminGoods/addGoods}" method="post" modelAttribute="goods" enctype="multipart/form-data">
    <table border=1 style="border-collapse: collapse">
        <caption>
            <font size=4 face=华文新魏 th:text="#{admin.addGoods.page.title}"></font>
        </caption>
        <tr>
            <td th:text="#{admin.addGoods.page.name}"><font color="red">*</font></td>
            <td>
                <input name="gname"/>
            </td>
        </tr>
        <tr>
            <td th:text="#{admin.addGoods.page.price}"><font color="red">*</font></td>
            <td>
                <input name="goprice"/>
            </td>
        </tr>
        <tr>
            <td th:text="#{admin.addGoods.page.discountprice}"></td>
            <td>
                <input name="grprice"/>
            </td>
        </tr>
        <tr>
            <td th:text="#{admin.addGoods.page.stock}"></td>
            <td>
                <input name="gstore"/>
            </td>
        </tr>
        <tr>
            <td th:text="#{admin.addGoods.page.picture}"></td>
            <td>
                <input type="file" name="logoImage"/>
            </td>
        </tr>
        <tr>
            <td th:text="#{admin.addGoods.page.type}"></td>
            <td>
                <select name="goodstype_id">
                    <option th:each="goodstype:${GoodsType}" th:text="${goodstype.typename}"  th:value="${goodstype.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="center">
            <input type="submit" value="提交"/>
        </td>
            <td align="left">
                <input type="reset" value="重置"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
