<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{admin.noticeDetail.page.title}"></title>
</head>
<body>

<form th:action="@{/adminNotice/addNotice}" method="post" modelAttribute="notice">
    <table border=1 style="border-collapse: collapse">
        <caption>
            <font size=4 face=华文新魏 th:text="#{admin.noticeDetail.page.title}"></font>
        </caption>
        <tr>
            <td><font color="red" th:text="#{admin.addNotice.page.head}"></font></td>
            <td th:text="${notice.ntitle }">

            </td>
        </tr>
        <tr>
            <td th:text="#{admin.noticeDetail.page.data}"></td>
            <td  th:text="${notice.ntime }"></td>
        </tr>
        <tr>
            <td><font color="red"th:text="#{admin.addNotice.page.content}"></font></td>
            <td>
                <textarea name="ncontent" cols="80" rows="15" th:text="${notice.ncontent}"></textarea>

            </td>
        </tr>
    </table>
</form>
</body>
</html>