<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.page.title}"></title>
    <link th:href="@{/css/before/daohang.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/before/common.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/before/style.css}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        table{
          margin: 0 auto;
        }
        .textSize{
            width: 200px;
            height: 20px;
        }
    </style>
    <script type="text/javascript">
        //确定按钮
        function gogo(){
            document.loginform.submit();
        }
        //取消按钮
        function cancel(){
            document.loginform.action="";
        }
        //刷新验证码
        function refreshCode(){
            document.getElementById("code").src = "/shopping/validateCode?" + Math.random();

        }

    </script>
    <title th:text="#{login.page.title}"></title>
</head>
<body>
<div th:replace="before/head"></div>
<div  style="text-align: center">
    <form th:action="@{/user/login}" method="post" modelAttribute="buser"  name = "loginform" style="margin-left: 471px">
        <table>
            <tr>
                <td colspan="2"><img th:src="@{/images/admin/login.gif}"></td>
            </tr>
            <tr>
                <td th:text="#{login.page.youxiang}"></td>
                <td><input type="text" name="bemail"   class="textSize"/></td>
            </tr>
            <tr>
                <td th:text="#{login.page.pwd}"></td>
                <td><input type="password" name="bpwd" class="textSize"/></td>
            </tr>
            <tr>
                <td th:text="#{login.page.yan}"></td>
                <td><input type="text" name="code" class="textSize"/></td>
            </tr>
            <tr>
                <td>
                    <img id="code" th:src="@{/validateCode}"/>
                </td>
                <td class="ared">
                    <a th:href="'javascript:refreshCode()'"><font color="blue" th:text="#{login.page.huanyan}"></font></a>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="image" th:src="@{/images/admin/ok.gif}" onclick="gogo()">
                    <input type="image" th:src="@{/images/admin/cancel.gif}" onclick="cancel()">
                </td>
            </tr>
            <tr id="msg">
                <td th:text="${msg}" style="text-align: center" ></td>
            </tr>
        </table>
    </form>

</div>
</body>


</html>