<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <title th:text="#{user.orderdone.title}"></title>
    <link th:href="@{/css/before/daohang.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/before/common.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/before/style.css}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        //确定按钮
        function gogo(){
            document.payForm.submit();
        }
    </script>
</head>
<body>
<div th:replace="before/head"></div>

<div class="blank"></div>
<div class="block clearfix"><!--当前位置-->
    <div class="location ared" th:text="#{user.orderdone.position}"></div>
    <div class="blank"></div>
    <div class="nFlowBox">
        <h2 style="text-align:center; height:30px; line-height:30px;">
            <font th:text="#{user.orderdoneremind}"></font>
            <font style="color:red" size='5' th:text="${ordersn}"></font></h2><br/>
        <center>
            <form th:action="@{/order/pay}" method="post" name="payForm">
                <input type="hidden" name="ordersn" th:value="${ordersn}"/>
                <input type="image" th:src="@{/images/before/Chinapay_logo.jpg}" onclick="gogo()"/>
            </form>
        </center>
    </div>
</div>
</body>
</html>
